**/Makefile
**/Makefile.in
config.log
aclocal.m4
autom4te.cache/*
config.status
*.spec
\#*
src/main/perl/bin/*.pm
configure
autotools/missing
autotools/install-sh
src/main/bash/bin/aws-sqsd
**/*.pid
**/*.pl
**/*.pm
**/*.ini
**/*.tar.gz
